<h1>{{title}}</h1>
<p class="lead">A virtual notebook for doctors and scientists to use to keep track of patients, experiments,ideas and data</p>
<p>Engineered in Node/Express and Javascript Version 1.0.0</p>
<p>A Harikrishnan Kuppusamykrishnan product</p>