<div class="jumbotron text-center">
  <img src="/img/heart.png" class="logo">
<h1 class="display-3">{{title}}</h1>
<p class="lead">Keep track of your patients, experimental data, general thoughts and ideas!</p>
<a href="/ideas/add" class="btn btn-dark btn-lg">Add to your Notes</a>

</div>