<div class="jumbotron text-center">
  <img src="/img/heart.png" class="logo">
<h1 class="display-3">{{title}}</h1>
<p class="lead">Keep track of your patients, experimental data, general thoughts and ideas!</p>
<a href="/ideas/add" class="mb-2 btn btn-dark btn-lg">Add to your Notes</a>
<div>
<iframe src="https://giphy.com/embed/W9hHL0Qc8ldD2" width="150" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>


</div>